* {
    background-color: var(--fundo);
}

:root {
    --fundo: #f4f4f4;
    --destaques-rosa: #b40465;
    --borda-preta: #000;
    --fonte-cabecalho: 'Playfair Display', serif;

    --fonte-titulo-inicio:'Playfair Display', serif;
    --fonte-descricao-inicio: 'Merriweather', serif;

    --fonte-titulo-sobre: 'Playfair Display', serif;
}