.inicio {
    padding: 1.5rem;
    padding-top: 1.8rem;
    text-align: center;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.img__inicio {
   width: 40%;
   padding-bottom: 0.8rem;
   border-radius: 100%;
}

.titulo__inicio {
    padding-bottom: 0.5rem;
    font-weight: 700;
    color: #b40465;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

.descricao__inicio {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.7rem;
    font-family: 'Merriweather', serif;
}

.redes-sociais {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
.link__redes {
    font-size: 1rem;
}

.img__redes {
    width: 30%;
}

.link__redes::after  {
    content: '\1F865';
    color: #b40465;
}

@media screen and (min-width:768px) {
    .img__inicio {
        width: 20%;
    }
    .titulo__inicio {
        font-size: 1.3rem;
    }
    .descricao__inicio {
        font-size: 1rem;
    }
    .redes-sociais {
        padding-top: 1.5rem;
    }
    .link__redes {
        font-size: 1.2rem;
    }
    .img__redes {
        width: 17%;
    }

}

@media screen and (min-width:1024px) {
    .inicio {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-evenly;
    }
    .informacao__inicio {
        margin: 0 auto;
    }
    .img__inicio {
        width: 20%;
    }
    .titulo__inicio {
        font-size: 1.5rem;
    }
    .descricao__inicio {
        font-size: 1.2rem;
    }
    .redes-sociais {
        flex-direction: column;
        text-align: right;
        margin: 0;
    }
    .link__redes {
        padding-bottom: 1rem;
        font-size: 1.4rem;
        max-width: 100px;
    }
    .img__redes {
        width: 40%;
    }
    
}

@media screen and (min-width:1440px) {
    .titulo__inicio {
        font-size: 1.8rem;
    }
    .descricao__inicio {
        font-size: 1.5rem;
    }
    .link__redes {
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
    }
    .img__redes {
        width: 35%;
    }
}