.obrigado {
    width: 100vw;
    height: 80vh;
    padding: 4rem 2rem ;
    box-sizing: border-box;
}

.titulo__obrigado {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    color: var(--destaques-rosa);
    font-size: 1rem;
    padding: 0.8rem;
    text-align: center;
}

.msg__obrigado {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    color: var(--destaques-rosa);
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.1rem;
}